obj/*
!obj/.gitkeep

lib/liberrorx.dylib

unit_test/Makefile
unit_test/*cpp
unit_test/obj/*
!unit_test/obj/.gitkeep

makefile
*cpp

output/

*.app/

./*fastq
./*fasta
./*fasta.out
./*tsv

ErrorX_Viewer.dmg
100.fast*
1000.fast*
unit_test/testing/100.fasta.out
.qmake.stash

*sublime-workspace
